# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# my stuff
src/components/content/prueba.jsx
src/components/header
src/components/NavBar/NavbarMaterial.js
src/components/modals
src/components/CartWidget/CartWidgetMaterial.js
src/components/content
package-lock.json




# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
