# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# my stuff
src/components/content/prueba.jsx
src/components/header
src/components/NavBar/NavbarBootstrap.jsx
src/components/NavBar/NavBarWDrawer.jsx
src/components/modals/modalHandler.js
src/components/modals/prueba.jsx
src/components/cart-widget/CartWidgetMaterial.js
src/components/cart-widget/CartWidgetBootstrap.js
src/components/content
src/components/itemListContainer2
src/components/Tabs/indexPrueba.jsx
src/components/database/firestore.json
src/components/email/email-template.jsx
src/components/email/sendemail.jsx
src/components/Api/route.jsx
src/components/contacto/resendContacto.jsx
src/components/utilities/chatelfsightwhatsapp.jsx
src/server/server.js
Pruebas
webpack.config.js
updateFirebaseConfig.js
dependencies.json
Codigo.txt
backupspecialcodes.txt
terminologia.txt
package-lock.json

#misc
.env




# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
