.Custom-cart-widget{
  margin-top: 0;
  padding-right: 0.7rem;
}

@media (max-width: 992px){
.Custom-cart-widget{
  margin-top: 5rem;
  padding-bottom: 1rem;
}
}

.swiperslide{
  
}

.slidercss{
  width: 100%;
  border: sold 2px black;
  height: 400px;
  object-fit: cover;
}

.App {
  text-align: center;
  
}

.custom-button {
  width: 200px;
  height: 50px;
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

