.Custom-cart-widget{
  margin-top: 0;
  padding-right: 0.7rem;
}

@media (max-width: 992px){
.Custom-cart-widget{
  margin-top: 5rem;
  padding-bottom: 1rem;
}
}

.swiperslide{
  text-align: center;
  font-size: 18px;
  background: #201616;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}


.slidercss{
  display: block;
  width: 100%;
  height: 380px;
  object-fit: contain;
}

.App {
  text-align: center;
  
}

.custom-button {
  width: 200px;
  height: 50px;
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

