*,
*::before,
*::after {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
    /* color-scheme: dark; */
    
}

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}

a{/*enlaces*/
  text-decoration:none!important ;
  text-decoration-line: none!important;
  text-decoration-thickness: from-font!important ;
  text-underline-offset: .25rem;
  text-decoration-skip-ink: auto!important;
}

a:hover, a:focus{
  color: #A3D2CA;
}

ul{/*listas*/
  list-style-type: none; 
  padding: 0;
}

@media (min-width: 600px) and (max-width: 697.60px) {
  .cardItemDetail{
    flex-direction: column-reverse !important;
  }
  .cardDetailImage{
    width: 400px !important;
    border-top-left-radius: 15px !important;
    border-bottom-right-radius: 0 !important;
  }
}

/* .cursorIconStyleContainer{
  position: relative;
} */

.cursorIconStyle {
  /* Ajusta la posición del ícono en el centro del contenedor */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  pointer-events: none; /* Evita que el ícono capture eventos del mouse*/
}

.bordInit {
  /* margin: 1rem auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rosybrown;
  transition: background-color 0.3s ease-in-out;
  animation: changeBackground 15s ease-in-out infinite;
  cursor: pointer;  
}

@media (max-width: 258px){
  .bordInit {
    font-size: x-small;
    
  }
}

.bordInit::before {
  position: absolute;
  z-index: 1;
  opacity: 1; 
  font-weight: bold;
  content: 'Nuestros Descuentos Semanales:';
  color: #201616;
  transition: opacity  0.5s ease-in-out;
}

.bordInit::after {
  
  content: 'En Prendas Seleccionadas.'; 
  font-weight: bold;
  color: #201616;
  opacity: 0;
  transition: opacity  0.7s ease-in-out;

}

.bordInit:hover {
  animation: none;
  background-color: #FFB366;
  filter: blur(0.2px);
}

.bordInit:hover::before{
  opacity: 0;
}

.bordInit:hover::after {
  opacity: 1; 
}

.Custom-cart-widget{
  margin-top: 0;
  padding-right: 0.7rem;
}

.card-media-redimension{
  width: 100%;
  height: 140px; /* Altura deseada */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}


/* .textScrolls {
  white-space: normal;
  overflow-y: auto;
  max-height: 5rem; 
} */

/* Estilo del contenedor del scroll */
.scroll-container {
  
  max-height: 5rem; /* Personaliza la altura máxima según tus necesidades */
  overflow-x: hidden;
}

/*Establece el estilo del scroll solo cuando el ancho de la pantalla es menor a 642 píxeles*/
@media (max-width: 642px){
  .scroll-container {
    overflow-x: scroll
  }
}

/* Estilo de la barra de desplazamiento */
.scroll-container::-webkit-scrollbar {
  width: 1rem; /* Ancho de la barra de desplazamiento */
  height: 0.5rem;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #878ea2; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 4px; /* Bordes redondeados del pulgar */
}

.scroll-container::-webkit-scrollbar-track {
  background-color: #DDDDDD; /* Color del fondo de la barra de desplazamiento */
}

@media (max-width: 992px){
.Custom-cart-widget{
  margin-top: 5rem;
  padding-bottom: 1rem;
}
}

@media (min-width: 511px){/*Resoluciones mayores de 511px*/
  .clothing-store-text{
    display: flex;
  }
}

@media (max-width: 511px){/*Resoluciones menores de 511px*/
  .clothing-store-text{
    display: none;
  }
}

.swiperslide{
  background: #201616;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.cssbutton-Banner-Principal{
  position: absolute;
  bottom: 60px;
  
  z-index: 1;
}

.slider-content{
  background: #201616;
  display:block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.slider-css{
  display: block;
  width: 100%;
  height: 490px;
  object-fit: cover;
}

.swiperslidesBanners{
  background: #201616;
  /* centrar el slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform filter 0.5s ease-in-out; 
}

.blurred-img{
  background-image: url(https://imgur.com/Vn8JvcX);
  background-size: cover;
  background-position: center;
  
}

.blurred-img img{
  display: block;
  width: 100%;
  height: 1200px;
  object-position: center;
  object-fit: cover;
  filter: blur(0);
  aspect-ratio: 1 / 1;
}

/* .blurred-img.loaded {
  opacity: 1;
}

.blurred-img > img {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
} */

.blurred-img img:not(:hover){
  filter: blur(0)
}

.blurred-img img:hover{
  filter: blur(4px);
  transform: scale(1.1);
}

.App {
  text-wrap: pretty;
  
}

.custom-button {
  width: 200px;
  height: 50px;
  
}

.create-product-card{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.list-element-orders{
  text-wrap: balance;
}

.tag-list{
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: aliceblue;
  border-radius: 0.5rem;
  box-shadow: 0 0.34rem 0.95rem -0.35rem var(--clr-primary-900);/*sombra detras del los texts*/
}

.body-scroller{
  display: grid;
  min-block-size: 15vh;
  place-content: center;
  font-family: system-ui;
  font-size: 1.125rem;
  background-color: var(--clr-primary-100);
}

.scroller{
  max-width: 100%;/*OJO no esta al 100% de la pantalla*/
  /* outline: 3px solid lime; */
  /* overflow: hidden; */
  
}

.scroller__inner{
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"]{
  overflow: hidden;
  background-color: linear-gradient(90deg,
  transparent,
  white 20%,
  white 80%,
  transparent);/*-webkit-mask*/
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);

  & .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    transform: translateZ(0);
    animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite
  }
}

/* .scroller[data-animated="true"] .scroller__inner{
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
  var(--_animation-duration, forwards) linear infinite
} */

/* .scroller[data-direction="right"]{
  --_animation-direction: reverse
}

.scroller[data-direction="left"]{
  --_animation-direction: forwards
} */

.scroller[data-speed="fast"]{
  --_animation-direction: reverse;
  --_animation-duration: 100s;
}

.scroller[data-speed="slow"]{
  --_animation-direction: forwards;
  --_animation-duration: 400s;
}

@keyframes scroll{
  to{
    /* esto es lo que hace q se repita sutilmente los elementos dentro d elos scroll__inner*/
    transform: translate(calc(-50% - 0.5rem));
    /* cambiar si no funciona en el mobile por el de abajo */
    /* transform: translateX(calc(-100% - 1rem));  */
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes changeBackground {
  0% {
    background-color: rosybrown;
    opacity: 1;
  }
  25% {
    background-color: #A3D2CA; /* Verde pastel */
    opacity: 0.7;
  }
  50% {
    background-color: #F4CBB2; /* Naranja pastel */
    opacity: 0.7;
  }
  75% {
    background-color: #E6D7B9; /* Amarillo pastel */
    opacity: 0.7;
  }
  100% {
    background-color: rosybrown;
    opacity: 1;
  }
}

.highlight-animation {
  animation: highlightAnimation 2s infinite; /* Duración de la animación */
}

@keyframes highlightAnimation {
  0% {
    background-color: initial;
  }
  50% {
    background-color: #ffeeaa; /* Color a destacar */
  }
  100% {
    background-color: initial;
  }
}